
<footer class="main-footer text-right " style="border-top:none">
    <strong>Copyright &copy; 2018 <a href="https://smart-breathalyzer-web-app.herokuapp.com/">
    smart-breathalyzer-web-app.herokuapp.com</a>.</strong> All rights reserved.
</footer>
