<!-- Main Header -->
<header class="main-header" >

    <!-- Logo -->
    <a href="/dashboard" class="logo" style="background-color:white">
        <!-- mini logo for sidebar mini 50x50 pixels -->

        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b style="color:#96a093;">Breathalyzer MS</b></span>

    </a>


    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top " role="navigation" style="background-color: #96a093;">
        <!-- Sidebar toggle button-->
        <a href="#" class="a-no-hover sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu" >

            <ul class="nav navbar-nav">


                <!-- User Account Menu -->
                <li class=" user ">
                    <!-- Menu Toggle Button -->

                    <a href="#"  >
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>

                    </a>


                </li>

                <li >
                    <!-- Menu Toggle Button -->

                    <a href="/"  >
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <i class="fa fa-sign-out" aria-hidden="true"></i>

                    </a>


                </li>

            </ul>
        </div>





    </nav>
</header>
