<!-- Left side column. contains the logo and sidebar background-image:url('/images/sideimage.jpeg')-->
<aside class="main-sidebar " style="background-color: white;">
    <!-- sidebar: style can be found in sidebar.less -->

    <section class="sidebar" >


        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree" >
          <br/><br/>
          <!-- Sidebar user panel (optional) -->

            <li class=""><a href="/dashboard"><i class="fa fa-home"></i> <span>Home</span></a></li>
            <li class=""><a href="/cases"><i class="fa fa-folder-open"></i> <span>Cases</span></a></li>
            <li class=""><a href="/devices"><i class="fa fa-mobile "></i> <span>Breathalyzers</span></a></li>
            <li class=""><a href="/geo_analysis"><i class="fa fa-map-marker "></i> <span>Province Wise Analysis</span></a></li>
            <!-- <li class=""><a href="/geo_analysis"><i class="fa fa-line-chart "></i> <span>Satatistics Report</span></a></li>-->
            <li class=""><a href="/devices/create"><i class="fa fa-key"></i> <span>Administrators</span></a></li>
            <li class=""><a href=""><i class="fa fa-wrench"></i> <span>Settings</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
